<div class="tasks-container">
  <div
    class="card task-list mb-3"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <div class="card-body mb-3">
      <h2 class="text-center">{{ taskState }}</h2>
      <app-search-form
        (search)="onSearch($event)"
        (priorityToggle)="onSort($event)"
      ></app-search-form>
      @if (isLoading) {
      <app-loading-spinner />
      } @else {
      <div>
        @for (task of tasks; track task.id) {
        <app-task [task]="task" />
        }
      </div>
      }
    </div>
  </div>
</div>
