body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  .card-body .action-buttons {
    flex-direction: column;
  }
}
@media only screen and (max-width: 672px) {
  body .container {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 655px) {
  .task-list,
  .new-task {
    width: 24rem !important;
  }
}
@media screen and (max-width: 425px) {
  .task-list,
  .new-task {
    width: 18rem !important;
  }
}
